/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(35, 113, 159);

}

#content {
  padding-left: 50px;
}

.list {
  float: left;
  width: 260px;
  vertical-align: top;
  background-color: #ccc;
  border-radius: 3px;
  color: rgb(57,57,57);
  font-size: 14px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 30px 5px;
  padding: 3px;
  text-align: center;
}

ul {
  padding: 0 10px;
}

li {
  list-style-type: none;
  text-align: left;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 3px;
}

.placeholder {
  height: 50px;
}

.card-wrapper {
  min-height: 5px;
}
